

.fondoModal-VentanaModal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.507);
    backdrop-filter: blur(5px);

    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
}

.contenedorVentanaModal-VentanaModal {
    width: 70%;
    max-width: 800px;
    min-width: 300px;
    position: relative;
    box-shadow: rgba(198, 198, 198, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.944);
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 1px solid rgba(207, 207, 207, 0.185);
    box-shadow: 2px 4px 4px 1px rgba(143, 143, 143, 0.345);
    overflow: hidden;
}
.tituloModal-VentanaModal{
    width: 100%;
    border-bottom: #9d9d9d52 1px solid;
    margin-top: 5px;
    padding-bottom: 5px;
    color: rgb(24, 24, 24);

}
.botonCerrarModal-VentanaModal{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: none;
}
.botonCerrarModal-VentanaModal:hover{
    background: #f2c9c9;
}
.botonCerrarModal-VentanaModal:active{
    background: #f29d9d;
}



