.contenedor-SeccionDetalles {
    background-image: url(../../Imagenes/3.png);
    color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

}
.encabezado-SeccionDetalles {
    display: flex;
    flex-flow: row nowrap;
    align-items:flex-start;    
}
.titulo-seccion-SeccionDetalles {
    width: 100%;
    margin: 0;
    padding: 0;  
}
.titulo-SeccionDetalles {
    margin:30px 3% 50px 3%; 
}
.subtitulo-SeccionDetalles {
    margin:50px 0% 50px 0%; 
}
.contenedor-logo-SeccionDetalles {
    background: white;
    width: 80px;
    height: 75px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.logo-SeccionDetalles {
    width: 90%;
}
.contenedor-informacion-SeccionDetalles {
    color: white;
    
}
.contenedor-botones-detalles-SeccionDetalles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

}
